/*photo captions in italic*/
/*background: turquoise #009dc1*/
/*links in green #8dc63f*/
/*text color: almost black #330000*/
body { background-color: #009dc1;
	color: #330000;
	font-family: Arial, Verdana, sans-serif;
}
h1 {
}
h2 {
}
h3 {
	font-style: italic;
}
#wrapper { width: 855px;
		margin-left: auto;
		margin-right: auto;
}
.photo { 
		font-style: italic;
		font-size: .90em;
		text-align: right;
}

img {border: 0px;
	padding: 0px;
	margin: 0px;
}
.imagepage {
	margin-left: 15px;
}

.nav {font-weight: bold;
	font-size: 1em;
	padding: 5px;
	background-color: #8dc63f;
	text-decoration: none;
	border-style: solid;
	border-width: 1px;
}
a {text-decoration: none;
}
a:link {color:#009dc1;
}
a:visited {color:#009dc1;
}
a:hover {color:#a00ace;
}
a:active {color:#009dc1;
}
.hr {color: #330000;
	max-width: 700px;
	height: 2px;
}
#footer {background-color: #8dc63f;
	color: #330000;
	font-style: italic;
	text-align: center;
	border-style: solid;
	border-width: 1px;
}
.companyname {font-weight: bold;
	font-family: Arial, Verdana, sans-serif;
	font-size: 300%;
}
.table {background-color: #ffffff;
		border-style: solid;
		border-width: 1px;
		border-color: #330000;
		border-collapse: collapse;
}

td, th {background-color: #ffffff;
		padding: 5px;
}